<head>
<title>Library</title>





</head>
<body>
<div id = "container">
  <div id = "logo"><h1>Library</h1></div>
  <div id="menu>"></div>
  <div id="sidebar">
    <div id="tags"><b>Category</b></div>
    <div class = "tags">Fiction</div>
    <div class="tags">Thriller</div>
    <div class="tags">Science Fiction</div>
    <div class="tags">Fantasy</div>
    <div class="tags">Horror</div>
  </div>
  <div id="content">
  <main class="crud container">

    <app-get></app-get>

    <app-add></app-add>


   <app-update></app-update>
    <app-delete></app-delete>



  </main>
  </div>
</div>








</body>
