<body>
<div id="container">
<header id="header">
  <img class="logoHeader" src="/assets/img/logo.png" alt="logo"/>
  <h4 class="logo-text"> Library </h4>
</header>

  <nav id="navbar">
    <a class ="logo" routerLink="/"><h4>Library</h4></a>

    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Lists</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>  <li><a routerLink="/books" routerLinkActive="active">List of Books</a></li> </button>
            <button ngbDropdownItem>    <li><a routerLink="/authors" routerLinkActive="active">List of Authors</a></li> </button>
            <button ngbDropdownItem>   <li><a routerLink="/tags" routerLinkActive="active">List of Book tags</a></li> </button>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>

  <main id="main">
    <app-update></app-update>

    <aside id="sidemenu">

    </aside>
  </main>
</div>
</body>
