
#container {
  border: 1px solid grey;
  background-color:  #fffff0;
  margin: 20px;
  display: flex;
  height: 900px;

  position: relative;
  justify-content:start;
  align-items: start;

}

#header {
  height: 100px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.logo-text {
  font-family: 'Arial', cursive;
  font-size: 2.5em;
  color: blue;
  text-shadow:
    -1px -1px 0 #1E90FF,
     1px -1px 0 #1E90FF,
    -1px  1px 0 #1E90FF,
     1px  1px 0 #1E90FF;

}
.logoHeader {
  width: 100px;
}



