
<section class="custom-modalbox" [hidden]="isHidden">
  <h2 mat-dialog-title></h2>
  <mat-dialog-content  [formGroup]="myFormModel" class="mat-dialog" method="post">

    <fieldset class="input-fieldset">
      <label class="input-label">Title</label>
      <mat-form-field appearance="fill">
        <input matInput type="text" [matAutocomplete]="auto" (ngModelChange)="toggleTitlePlaceholder()" placeholder="Insert a Title" required formControlName="titleInput"/>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let bookTitle of this.filteredTitles" [value]="bookTitle">{{bookTitle}}</mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div id="validationServer03Feedback" class="invalid-feedback d-block" *ngIf="validationErrors?.title"> {{validationErrors.title[0]}}
      </div>
  </fieldset>

    <fieldset class="input-fieldset">
      <label class="input-label">Authors</label>
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col">Lp</th>
            <th scope="col">Author's forename</th>
            <th scope="col">Author's surname</th>
          </tr>
          </thead>
          <tbody>

          <ng-container formArrayName="authors">
            <tr *ngFor="let author of myFormModel.get('authors')['controls']; let i = index;" formGroupName="{{ i }}">
              <th>{{ i + 1 }}</th>
              <td>

                <mat-form-field appearance="fill">

                  <input matInput type="text" [matAutocomplete]="auto"  (ngModelChange)="toggleAuthorForenamePlaceholder()" placeholder="Insert an Author Forename" required formControlName="authorForenameInput">

                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let authorForename of filteredAuthorsForenameList[i]"  [value]="authorForename">{{authorForename}}</mat-option>
                  </mat-autocomplete>
                </mat-form-field>

                <div class="invalid-feedback d-block" *ngIf="validationErrors !== undefined && validationErrors['authors[' + i + '].forename'] !== undefined">
                  {{validationErrors['authors[' + i + '].forename'][0]}}
                </div>
              </td>

              <td>
                <mat-form-field appearance="fill">
                    <input matInput type="text" [matAutocomplete]="auto2" (ngModelChange)="toggleAuthorSurnamePlaceholder()" placeholder="Insert an Author Surname" required formControlName="authorSurnameInput">
                      <mat-autocomplete #auto2="matAutocomplete">
                        <mat-option *ngFor="let authorSurname of filteredAuthorsSurnameList[i]" [value]="authorSurname">{{authorSurname}}</mat-option>
                      </mat-autocomplete>
                  </mat-form-field>

                <div class="invalid-feedback d-block" *ngIf="validationErrors !== undefined && validationErrors['authors[' + i + '].surname'] !== undefined">
                  {{validationErrors['authors[' + i + '].surname'][0]}}
                </div>
              </td>
              <td>
                <i #circle [id]="i" class="bi-bi-x-circle" (click)="deleteAuthors(circle)">X</i>
              </td>

            </tr>
          </ng-container>
          </tbody>
        </table>

      <button type="button" class="btn btn-outline-primary" (click)="addNextAuthor()">Add a next Author</button>
      </fieldset>

      <fieldset class="input-fieldset">
        <label class="input-label">Literary Genre</label>
        <table class=" table table-striped">
          <thead>
          <tr>
            <th scope="col">Lp</th>
            <th scope="col">Literary Genre</th>
          </tr>
          </thead>
          <tbody>
          <ng-container formArrayName="bookTags">

            <tr *ngFor="let bookTag of myFormModel.get('bookTags')['controls']; let i = index;" formGroupName="{{ i }}">
              <th>{{i + 1}}</th>
              <td>
                <mat-form-field appearance="fill">
               <input matInput type="text" [matAutocomplete]="auto3" (ngModelChange)="toggleBookTagPlaceholder()"
                      placeholder="Insert a Literary Genre" required formControlName="booksTagInput">
                  <mat-autocomplete #auto3="matAutocomplete">
                    <mat-option *ngFor="let literaryGenre of filteredBooksTagsList[i]" [value]="literaryGenre">{{literaryGenre}}</mat-option>
                  </mat-autocomplete>
                </mat-form-field>

                  <div class="invalid-feedback d-block" *ngIf="validationErrors?.bookTags && validationErrors['bookTags[' + i + '].literaryGenre'] !== undefined">
                  {{validationErrors['bookTags[' + i + '].literaryGenre'][0]}}
                </div>
              </td>

              <td>
                <i class="bi-bi-x-circle" (click)="deleteBooksTags(i)">X</i>
              </td>
            </tr>
          </ng-container>
          </tbody>
          </table>
        <button type="button" class="btn btn-outline-primary" (click)="addNextBooksTag()">Add a next Book Tag</button>
      </fieldset>

      <fieldset class="input-fieldset">
        <label class="input-label">Year publication</label>
        <mat-form-field appearance="fill">
          <input  matInput [matAutocomplete]="auto" (ngModelChange)="toggleYearPlaceholder()" type="number" name="yearOfPublication" placeholder="Insert a Year publication" required formControlName="yearOfPublicationInput">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let yearOfPublication of this.filteredYears" [value]="yearOfPublication">{{yearOfPublication}}</mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <div class="col-10" *ngIf="validationErrors !== null && validationErrors?.yearOfPublication">
          <span class="text text-danger">{{validationErrors.yearOfPublication[0]}}</span>
        </div>
      </fieldset>

      <fieldset class="input-fieldset">
        <label class="input-label">Book signature</label>
        <mat-form-field appearance="fill">
         <input matInput type="text" name="signature" placeholder="Insert a Book signature" required formControlName="signatureInput"/>
        </mat-form-field>

        <div id="validationServer04Feedback" class="invalid-feedback d-block"  *ngIf="validationErrors !== null && validationErrors?.signature">
       {{validationErrors.signature[0]}}
        </div>


      </fieldset>


    <fieldset class="input-fieldset">
      <label class="input-label">Amount of book</label>
      <mat-form-field appearance="fill">
        <input  matInput type="number" name="amountOfBook" placeholder="Amount of book" required formControlName="amountOfBookInput">
      </mat-form-field>

      <div class="col-10" *ngIf="validationErrors !== null && validationErrors?.amountOfBook">
        <span class="text text-danger">{{validationErrors.amountOfBook[0]}}</span>
      </div>
    </fieldset>

  </mat-dialog-content>


  <div mat-dialog-actions [align]="'end'" class="button-group">
    <button mat-raised-button  class="mat-raised-button btn-lg" type="submit" (click)="saveBook()">Submit</button>
    <button mat-raised-button (click)="closeDialog()">Close </button>
  </div>

</section>









