<section class="datatable">
  <button type="button" class="btn btn-primary" (click)="showAddBookForm()">Add a book</button>
  <button type="button" class="btn btn-secondary" (click)="showEditBookForm()">Modify a book</button>

  <form [formGroup]="myFormModel" class="row g-3" method="post" [hidden]="isHidden">
    <input type="hidden" name="id" value="">
    <mat-form-field>
      <mat-label for="validationServer" class="form-label">Book title</mat-label>
      <input matInput type="text" [matAutocomplete]="auto" class="form-control " id="validationServer" placeholder="Insert a Book title" aria-describedby="validationServer03Feedback" required formControlName="titleInput">

        <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let bookTitle of this.filteredTitles" [value]="bookTitle">{{bookTitle}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div *ngFor="let bookTitle of this.filteredTitles">{{bookTitle}}</div>

    <div id="validationServer03Feedback" class="invalid-feedback d-block" *ngIf="validationErrors?.title"> {{validationErrors.title[0]}}
    </div>



    <fieldset class="input">
      <label class="input label">Authors</label>
      <table class = "table">
        <thead>
        <tr>
          <th scope="col">Lp</th>
          <th scope = "col">Author's forename</th>
          <th scope = "col">Author's surname</th>
        </tr>
        </thead>
        <tbody>

        <ng-container formArrayName="authors">
          <tr *ngFor="let author of myFormModel.get('authors')['controls']; let i = index;" formGroupName="{{ i }}">
            <th>{{ i + 1 }}</th>
            <td>

              <mat-form-field>

              <input matInput type="text" [matAutocomplete]="auto" placeholder="Insert an Author Forename" required formControlName="authorForenameInput">

                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <ng-template appAutocompleteContent>
                  <mat-option *ngFor="let authorForename of filteredAuthorsForenameList | async"  [value]="authorForename">
                  {{authorForename}}
                </mat-option>
                </ng-template>
              </mat-autocomplete>
              </mat-form-field>


              <div class="invalid-feedback d-block" *ngIf="validationErrors !== undefined && validationErrors['authors[' + i + '].forename'] !== undefined">
                {{validationErrors['authors[' + i + '].forename'][0]}}
              </div>
            </td>

            <td>
             <input type="text" placeholder="Insert an Author Surname" required formControlName="authorSurnameInput">

              <div class="invalid-feedback d-block" *ngIf="validationErrors !== undefined && validationErrors['authors[' + i + '].surname'] !== undefined">
                {{validationErrors['authors[0].surname'][0]}}
              </div>
            </td>
            <td>
              <i #circle [id]="i" class="bi bi-x-circle" (click)="deleteAuthors(circle)"></i>
            </td>

          </tr>
        </ng-container>
        </tbody>
      </table>

      <button type="button" class="btn btn-outline-primary" (click)="addNextAuthor()">Add a next Author</button>
    </fieldset>

    <fieldset class="input">
      <label class="input label">Literary Genre</label>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Lp</th>
          <th scope="col">Literary Genre</th>
        </tr>
        </thead>
        <tbody>
        <ng-container formArrayName="booksTags">
          <tr *ngFor="let bookTag of myFormModel.get('booksTags')['controls']; let i = index;" formGroupName="{{ i }}">
            <th>{{i + 1}}</th>
            <td>
             <input type="text" placeholder="Insert a Literary Genre" required formControlName="booksTagInput">
              <div class = "invalid-feedback d-block" *ngIf="validationErrors !== undefined && validationErrors.bookTags !== undefined">
                {{validationErrors.bookTags}}
              </div>
            </td>
            <td>
              <i #circle [id]="i" class="bi bi-x-circle" (click)="deleteBooksTags(circle)"></i>
            </td>
          </tr>
        </ng-container>
        </tbody>
        </table>
      <button type="button" class="btn btn-outline-primary" (click)="addNextBooksTag()">Add a next Book Tag</button>
    </fieldset>

    <fieldset class="col-10">
      <label class="input label">Year publication</label>
      <input type="number" name="yearOfPublication" placeholder="Insert a Year publication" required formControlName="yearOfPublicationInput">
    </fieldset>
    <div class="col-10" *ngIf="validationErrors !== null && validationErrors?.yearOfPublication">
        <span class="text text-danger">{{validationErrors.yearOfPublication[0]}}</span>
      </div>

    <fieldset class="input">
      <label class="input label">Book signature</label>
      <input type="text" name="bookSignature" placeholder="Insert a Book signature" required formControlName="signatureInput">
    </fieldset>
    <div class = "col-10" *ngIf="validationErrors !== null && validationErrors?.signature">
      <span class="text text-danger">{{validationErrors.signature[0]}}</span>
    </div>

    <div class = "col-12">
      <button class="btn btn-primary" type="submit" (click)="saveBook()">Submit</button>
    </div>


  </form>

</section>


