<div id="content">
<main class="crud container">
 <ng-container *ngIf="authorslist.length > 0; else noAuthors">
   <p [ngStyle]="{color: getColor()}"></p>
   <table class="table">
     <thead>
     <tr input class="form-check-input me-1" type="checkbox" value="" aria-label="..."  class="table-primary">
       <th scope="col"></th>
       <th scope="col">Lp</th>
       <th scope="col">Author's forename</th>
       <th scope="col">Author's surname</th>
     </tr>
     </thead>
     <tbody>

     <tr *ngFor="let author of authorslist; let i = index">
       <td>
         <input #self class="form-check-input" type="checkbox" [value]="author.id" (change)="changeCheckboxList(self)">
       </td>
       <td>
         {{i+1}}
       </td>
       <td>{{author.forename}}</td>
       <td>{{author.surname}}</td>
     </tr>
     </tbody>
   </table>
 </ng-container>
  <ng-template #noAuthors>
    <p>No authors</p>
  </ng-template>
  <app-add-author></app-add-author>
</main>
</div>
