/* You can add global styles to this file, and also import other style files */

*{
  font-family: sans-serif;


}

.active {
  color: mediumblue;
}

.custom-modalbox {
  color: blue;
  border: 1px solid #000;
  height: auto;
  width: 550px;
  min-height: 550px;
  max-height: 600px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);

  padding:  10px;
  overflow:scroll;
}

.cdk-overlay-container{
  position:fixed;
  z-index:1000;
}
.cdk-global-overlay-wrapper{
  display:flex;
  position:absolute;
  z-index:1000;
}
.cdk-overlay-pane {
  position:absolute;
  pointer-events:auto;
  box-sizing:border-box;
  z-index:1000
}

.mat-autocomplete-panel {
  width: 400px;
  background-color: #fff;
  border: 1px solid black;
}
